body {
    background-color: #f5f5f1;
}

.navbar-default {
    padding-top: 25px;
    background-image: url('http://www.pdx.edu/sites/all/themes/pdx_home/images/header/header-1.jpg');
}

.navbar-left {
    padding-bottom: 15px;
}

.navbar-right {
    margin-top: 15px;
}

span {
    color: #ffffff;
}

#title {
    font-size: 26px;
    padding-left: 60px;
}

#update {
    font-size: 18px;
}

.glyphicon-chevron-down {
    float: right;
    color: #999999;
}
