<!DOCTYPE html>
<!--TEMPLATE FOR TEAM DYNAMIX WEBPAGE-->
<head>
    <meta charset="UTF-8">
    <title>Team Dynamix Project Database</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
</head>
<body>
<!--NAVBAR CLASS - LAYOUT FOR HEADER-->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-nav navbar-left">
            <table>
                <td><img src="http://www.pdx.edu/sites/all/themes/pdx_home/logo.png" alt="Portland State University Logo" /></td>
                <td><span id="title">OIT's Highlighted Projects</span></td>
            </table>
        </div>
        <div class="nav navbar-nav navbar-right">
            <span id="update">Last update: {{ last_updated.last_update|date }}</span>
        </div>
    </div>
</div>
<!--CONTAINER CLASS - LAYOUT FOR TABLE OF INFORMATION FROM DATABASE-->
<div class="container">
    <p>Welcome to the Office of Information Technology's Highlighted Projects page, where we feature projects of interest to the PSU community. OIT completes nearly 100 projects a year. For a complete list of currently active projects and recently completed projects, visit the OIT website at <a href="http://www.pdx.edu/oit">www.pdx.edu/oit</a>.</p>
    <p>Click on the name of the project to view more information.</p>
    {% if project %}
        <ul class="nav nav-tabs nav-stacked" role="tablist">
            {% for table in project %}
                <li class="active">
                    <a href="#" class="expander">
                        <h3>
                            {{ table.name|title }}
                            <span class="glyphicon glyphicon-chevron-down" />
                        </h3>
                    </a>
                    <div class="tab-content" style="display:none">
                        <div class="tab-pane active">
                            <div class="well well-lg">
                                <p><b>Project Description:</b> {{ table.description|linebreaksbr|urlize }}</p>
                                <p><b>Account Name:</b> {{ table.account_name }}</p>
                                <p><b>Sponsor Name:</b> {{ table.sponsor_name }}</p>
                                <table class="table table-bordered"><tr>
                                    <td><b>Start Date:</b> {{ table.start_date.date }}</td>
                                    <td><b>End Date:</b> {{ table.end_date.date }}</td>
                                </tr></table>
                            </div>
                        </div>
                    </div>    
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<script>
$(document).ready(function(){
    $('.expander').click(function(e){
        e.preventDefault()
        $(this).parent().find(".tab-content").slideToggle();
    })
});
</script> 
</body>
</html>
