<!DOCTYPE html>
<!--TEMPLATE FOR TEAM DYNAMIX WEBPAGE-->
<head>
    <meta charset="UTF-8">
    <title>Team Dynamix Project Database</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<!--NAVBAR CLASS - LAYOUT FOR HEADER-->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-nav navbar-left" style="margin-top: 7px;">
            <img src="http://www.pdx.edu/sites/all/themes/pdx_primary/logo.png" alt=""> 
            <span style="padding-left: 20px; color:#ffffff">Team Dynamix Project Database</span>
        </div>
        <div class="nav navbar-nav navbar-right" style="margin-top:13px;">
            <span style="color:#ffffff;">Last update: {{last_updated.last_update}}</span>
        </div>
    </div>
</div>
<!--CONTAINER CLASS - LAYOUT FOR TABLE OF INFORMATION FROM DATABASE-->
{% if project %}
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-stacked" role="tablist">
            {% for table in project %}
                <li class="active">
                    <a href="#" class="expander"><h3>{{ table.name }}</h3></a>
                    <div class="tab-content" style="display:none">
                        <div class="tab-pane active">
                            <div class="well well-lg">
                                <p><b>Project Description:</b> {{ table.description }}</p>
                                <p><b>Account Name:</b> {{ table.account_name }}</p>
                                <p><b>Sponsor Name:</b> {{ table.sponsor_name }}</p>
                                <table class="table table-bordered"><tr>
                                    <td><b>Start Date:</b> {{ table.start_date.date }}</td>
                                    <td><b>End Date:</b> {{ table.end_date.date }}</td>
                                </tr></table>
                            </div>
                        </div>
                    </div>    
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<script>
$(document).ready(function(){
    $('.expander').click(function(e){
        e.preventDefault()
        $(this).parent().find(".tab-content").slideToggle();
    })
});
</script> 
</body>
</html>
